Predicting Life Expectancy.json
[{"id":"3f2c4e25.9c7fc2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c00053c7.baf99","type":"function","z":"3f2c4e25.9c7fc2","name":"PreToken","func":"global.set(\"year\", msg.payload.year)\nglobal.set(\"status\", msg.payload.ss)\nglobal.set(\"am\", msg.payload.am)\nglobal.set(\"id\", msg.payload.id)\nglobal.set(\"al\", msg.payload.al)\nglobal.set(\"pe\", msg.payload.pe)\nglobal.set(\"hB\", msg.payload.hB)\nglobal.set(\"m\", msg.payload.m)\nglobal.set(\"bmi\", msg.payload.bmi)\nglobal.set(\"ufd\", msg.payload.ufd)\nglobal.set(\"p\", msg.payload.p)\nglobal.set(\"d\", msg.payload.d)\nglobal.set(\"te\", msg.payload.te)\nglobal.set(\"ha\", msg.payload.ha)\nglobal.set(\"gdp\", msg.payload.gdp)\nglobal.set(\"pp\", msg.payload.pp)\nglobal.set(\"t119\", msg.payload.t119)\nglobal.set(\"t59\", msg.payload.t59)\nglobal.set(\"i\", msg.payload.i)\nglobal.set(\"s\", msg.payload.s)\n\nvar apikey=\"YbN29BVzmug90Kie0vtgOfJMEfG4n1hdrpcon1IJh1g3\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":260,"wires":[["6ba08db2.343f04"]]},{"id":"6ba08db2.343f04","type":"http request","z":"3f2c4e25.9c7fc2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":260,"wires":[["18e2dd44.cf01b3"]]},{"id":"4a55a6.62e46a5c","type":"debug","z":"3f2c4e25.9c7fc2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":60,"wires":[]},{"id":"18e2dd44.cf01b3","type":"function","z":"3f2c4e25.9c7fc2","name":"Pre Prediction","func":"var status = global.get(\"status\")\nvar ye = global.get(\"year\")\nvar am = global.get(\"am\")\nvar id = global.get(\"id\")\nvar al = global.get(\"al\")\nvar pe = global.get(\"pe\")\nvar hB = global.get(\"hB\")\nvar m = global.get(\"m\")\nvar bmi = global.get(\"bmi\")\nvar ufd = global.get(\"ufd\")\nvar p = global.get(\"p\")\nvar d = global.get(\"d\")\nvar te = global.get(\"te\")\nvar ha = global.get(\"ha\")\nvar gdp = global.get(\"gdp\")\nvar pp = global.get(\"pp\")\nvar t119 = global.get(\"t119\")\nvar t59 = global.get(\"t59\")\nvar i = global.get(\"i\")\nvar s = global.get(\"s\")\n\nvar token=msg.payload.access_token\nvar instance_id=\"f09f24bc-ac23-473f-b389-43a87aab7afa\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": ['Adult Mortality', 'Year', 'infant deaths', 'Alcohol', \n        'percentage expenditure', 'Hepatitis B', 'Measles ', \n        ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',\n       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',\n       ' thinness  1-19 years', ' thinness 5-9 years',\n       'Income composition of resources', 'Schooling', 'Developed'], \n       \"values\": [[am, ye, id, al, pe, hB, m, bmi, ufd, p, te, d, \n       ha, gdp, pp, t119, t59, i, s, status]]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":260,"wires":[["9d88570a.a41f18"]]},{"id":"9d88570a.a41f18","type":"http request","z":"3f2c4e25.9c7fc2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/f09f24bc-ac23-473f-b389-43a87aab7afa/deployments/540ba115-55b2-41b7-abbe-b76883d90a2e/online","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":260,"wires":[["4ed76c43.4abb34"]]},{"id":"16bd1528.98fedb","type":"ui_form","z":"3f2c4e25.9c7fc2","name":"","label":"","group":"50d256ca.876268","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Status(Developed = 1 | Developing = 0)","value":"ss","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"am","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"al","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hB","type":"number","required":true,"rows":null},{"label":"Measles","value":"m","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio","value":"p","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"d","type":"number","required":true,"rows":null},{"label":"HIV / AIDS","value":"ha","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"pp","type":"number","required":true,"rows":null},{"label":"Thinness 1 - 19 Years","value":"t119","type":"number","required":true,"rows":null},{"label":"Thinness 5 - 9 Years","value":"t59","type":"number","required":true,"rows":null},{"label":"Income Composition Of  Resources","value":"i","type":"number","required":true,"rows":null},{"label":"Schooling","value":"s","type":"number","required":true,"rows":null}],"formValue":{"year":"","ss":"","am":"","id":"","al":"","pe":"","hB":"","m":"","bmi":"","ufd":"","p":"","te":"","d":"","ha":"","gdp":"","pp":"","t119":"","t59":"","i":"","s":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":70,"y":260,"wires":[["c00053c7.baf99"]]},{"id":"792687e4.adda18","type":"ui_text","z":"3f2c4e25.9c7fc2","group":"50d256ca.876268","order":1,"width":0,"height":0,"name":"","label":"Life(in years)","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":160,"wires":[]},{"id":"4ed76c43.4abb34","type":"function","z":"3f2c4e25.9c7fc2","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":120,"wires":[["4a55a6.62e46a5c","792687e4.adda18"]]},{"id":"50d256ca.876268","type":"ui_group","z":"","name":"Enter Details","tab":"736f6839.af1f08","order":1,"disp":true,"width":"6","collapse":false},{"id":"736f6839.af1f08","type":"ui_tab","z":"","name":"Predicting Life Expectancy","icon":"dashboard","disabled":false,"hidden":false}]